@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  /* By naming this --font-sans, you override Tailwind's default sans font */
  --font-sans: "Outfit", sans-serif;
  
  /* You can still keep other fonts for specific elements */
  --font-cursive: "Cedarville Cursive", cursive;
}

@layer utilities {
  .animate-gradient-flow {
    animation: gradient-flow 10s linear infinite;
  }
  
  @keyframes gradient-flow {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
  }
}